<%- include ("partials/header") %>

<h1>This is the home page !</h1>

<img src="http://streetwill.co/uploads/post/photo/896/show__Pcwl5tp7xzzvC-AeAUgSCCbwyJFry59kZkqimtXNnY.jpg" alt="">

<%- include ("partials/footer") %>