.jumbotron .lead {
    font-size: 1.5rem;
    font-weight: normal;
}


.card .card-body {
    padding: 9px;
}

.col-md-3 .lead {
    font-weight: bold;
}

.delete-form {
    display: inline;
}